body {
    background-color: hsl(0, 0%, 90%);
}

.navbar {
    background-color: hsl(0, 0%, 80%) !important;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.action-button {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 30px;
    background-color: hsl(141, 73%, 42%);
}
.action-button a {
    font-family: "Open Sans";
    text-decoration: none;
    color: white;
}

.action-button:hover{
    background-color: hsl(141, 73%, 38%);
}

.action-button:hover{
    animation: Glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#welcome-text {
    font-family: "Open Sans";
    padding: 5px;
    transform: translateY(-100px);
}

.fa-brands.fa-spotify.fa-10x {
    transform: translateY(-50px);
}
.fa-brands.fa-square-github.fa-2x {
    color: hsl(0, 0%, 30%);
}
.fa-brands.fa-square-github.fa-2x:hover {
    color: hsl(0, 0%, 20%);
}
.artists_container li{
    font-family:  "Open Sans";
}
.artists_container p{
    font-family: "Open Sans";
    font-weight: bold;
}
.artists_container {
    display: flex;
    gap: 50px;
}

@keyframes Glow {
    50%{box-shadow: 0px 0px 5px black;}
}